.audiochallenge-container__dont-know,
.audiochallenge-container__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 25px;
  padding: 1em;

  border: 3px solid black;
  border-radius: 5px;

  transition: 0.5s;
  user-select: none;
}

.audiochallenge-container__next {
  display: none;
}

.audiochallenge-container__next::after {
  content: "";

  width: 140px;
  height: 40px;
  -webkit-mask: url(../../../../../assets/svg/audiochallenge__next.svg) no-repeat center;
  mask: url(../../../../../assets/svg/audiochallenge__next.svg) no-repeat center;
  background-color: black;

  transition: 0.5s;
}

.audiochallenge-container__dont-know:hover,
.audiochallenge-container__next:hover {
  border-color: goldenrod;

  cursor: pointer;
}

.audiochallenge-container__next:hover::after {
  background-color: goldenrod;
  transform: translateX(20px);
}
