@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (orientation: landscape) {

  body.start {
    background-image: url("../../../../assets/img/start-image.jpg");
    background-size: cover;
    background-position: 100% 50%;
  }

  .header-container__menu.start {
    top: 15px;
    right: 335px;
  }

  .page-container__about-cont {
    width: 42%;
    text-align: left;
    left: 28%;
    top: 40%;
  }

}

@media (orientation: portrait) {

  body.start {
    background-image: url("../../../../assets/img/start-image.jpg");
    background-size: auto 100%;
    background-position: 100% 100%;
  }

  .header-container__menu.start {
    top: 50px;
    right: 5px;
  }

  .page-container__about-cont {
    width: 35%;
    text-align: left;
    left: 20%;
    top: 10%;
  }

}

.page-container__about-cont {
  position: absolute;
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 27px;
}

.page-container__about-cont::after {
  padding: 4px;
  border-radius: 5px;
  content: "Узнать больше>>";
  background-color: white;
  cursor: pointer;
}

body.start {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
}

.header-container__menu.game {
  top: -100px;
  right: -100px;
}

.header-container__menu.active.game {
  top: 0;
  right: 0;
}

.header-container__menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  transition: top 0.5s, right 0.5s;
}

.menu__book-button,
.menu__audio-challenge-button,
.menu__sprint-button,
.menu__statistics-button,
.menu__team-button,
.menu__home-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: white;
  cursor: pointer;
  left: 0;
  transform-origin: 200px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(160px);
}

.header-container__menu.active div {
  transform: rotate(calc(360deg / 6 * var(--i)));
}

.header-container__menu.active div div {
  transform: rotate(calc(360deg / -6 * var(--i)));
}

.page-container__naming {
  padding-left: 30px;
  font-size: 60px;
  line-height: 100px;
  font-family: 'Niconne', cursive;
  color: white;
}

.header-container__menu .menu__toggle-button::after {
  content: "MENU";
}

.header-container__menu.active .menu__toggle-button::after {
  content: "";
}

.header-container__menu.active .menu__toggle-button {
  background-image: url("../../../../assets/svg/xmark-solid.svg");
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__toggle-button {
  position: relative;
  width: 100px;
  height: 100px;
  color: grey;
  font-size: 27px;
  font-weight: 600;
  line-height: 103px;
  border-radius: 50%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  z-index: 100;
  cursor: pointer;
}

.menu__home-button div {
  background-image: url("../../../../assets/svg/house-solid.svg");
}

.menu__book-button div {
  background-image: url("../../../../assets/svg/book-solid.svg");
}

.menu__audio-challenge-button div {
  background-image: url("../../../../assets/svg/headphones-solid.svg");
}

.menu__sprint-button div {
  background-image: url("../../../../assets/svg/person-running-solid.svg");
}

.menu__statistics-button div {
  background-image: url("../../../../assets/svg/chart-line-solid.svg");
}

.menu__team-button div {
  background-image: url("../../../../assets/svg/users-solid.svg");
}

.menu__book-button div,
.menu__audio-challenge-button div,
.menu__sprint-button div,
.menu__statistics-button div,
.menu__team-button div,
.menu__home-button div {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
}