.round-statistic__table {
  margin-right: 0.5em;
  border-collapse: collapse;
}

.round-statistic__table th {
  padding: 10px 0;

  font-size: 1.2rem;
}

.round-statistic__table td {
  padding: 10px;
}

.round-statistic__table tr:nth-child(even) {
  background-color: rgba(167, 167, 167, 0.5);
}

.round-statistic__table td:first-child {
  width: 25px;
  height: 25px;

  -webkit-mask: url(../../../../../../assets/svg/round-statistic__play-audio.svg) no-repeat center;
  mask: url(../../../../../../assets/svg/round-statistic__play-audio.svg) no-repeat center;
  background-color: black;

  transition: 0.5s;
}

.round-statistic__table td:first-child:hover {
  background-color: goldenrod;
  cursor: pointer;
}

@media (max-width: 640px) {
  .round-statistic__table th {
    padding: 10px 0;

    font-size: 1rem;
  }
}
