.round-statistic__results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  max-height: 60%;

  border-radius: 10px;
  background-color: rgba(167, 167, 167, 0.35);
}

.round-statistic__controls {
  display: flex;
}
