.audio-challenge-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-blend-mode: screen;
  background: linear-gradient(limegreen, transparent), linear-gradient(90deg, skyblue, transparent), linear-gradient(-90deg, coral, transparent);

  user-select: none;
}

.audio-challenge-container__close {
  position: absolute;
  top: 1em;
  right: 1em;

  display: none;
  height: 40px;
  width: 40px;

  -webkit-mask: url(../../../../assets/svg/audio-challenge__close-app.svg) no-repeat center;
  mask: url(../../../../assets/svg/audio-challenge__close-app.svg) no-repeat center;
  background-color: gray;

  transition: 0.5s;
}

.audio-challenge-container__close:hover {
  background-color: #9f1bd3;
  cursor: pointer;
}

.audio-challenge-container__progress-bar {
  position: absolute;
  left: 0px;
  top: 0px;

  height: 5px;
  width: 0%;

  background-color: #9f1bd3;
}

.audio-challenge-container__content {
  padding-bottom: 7em;
}

.audio-challenge-container__top {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audio-challenge-container__middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0 2em 0;
}

.audio-challenge-container__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.audio-challenge-container__round-statistic {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .audio-challenge-container__content {
    padding-bottom: 0;
  }

  .audio-challenge-container__middle {
    padding: 0;
  }
}

@media (max-width: 640px) {
  .audio-challenge-container__bottom {
    padding-top: 0.5em;
  }

  .audio-challenge-container__round-statistic {
    font-size: 0.8rem;
  }
}
