.round-statistic__header {
  font-size: 1.8rem;
}

.round-statistic__statistic {
  width: 100%;
  margin: 1em 0 0.5em;

  text-align: left;
}

.round-statistic__words {
  overflow: auto;
}

.round-statistic__words::-webkit-scrollbar {
  width: 1em;
}

.round-statistic__words::-webkit-scrollbar-track {
  border-radius: 100vw;
  background-color: gray;
}

.round-statistic__words::-webkit-scrollbar-thumb {
  border: 0.2em solid black;
  border-radius: 100vw;
  background-color: goldenrod;
}

.round-statistic__words::-webkit-scrollbar-thumb:hover {
  background-color: white;
}
