.statistic-container {
    position: relative;
    min-width: 330px;
    max-width: 840px;
    width: 95vw;
    height: 65vh;
    top:160px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 10vh 1fr 1fr 1fr 2vh;    
    border-radius: 10px;
    background-color: #4fc1f781;
    backdrop-filter: blur(5px);
    z-index: 1;
    font-size: 3vh;
    color: rgb(0, 104, 173);
    font-weight: 800;    
    text-shadow: 1px 1px 2px rgb(245, 245, 247);
}

.statistic-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    align-items: center;
    justify-content: center;
}

.game-statistic {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.full-statistic-container {
    position: absolute;
    min-width: 330px;
    max-width: 840px;
    width: 95vw;
    height: 60vh;
    top: 10vh;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #a2abc5fb;
    backdrop-filter: blur(5px);
    display: grid;
    font-size: 2.5vh;
    padding-left: 10px;
    padding-top: 5px;
    grid-template-rows: 4vh 1fr 4vh 1fr 4vh 1fr 4vh 1fr 2vh;
}



.full-statistic-container p {
    color: white;
    border: solid 1px white;
    text-shadow: 1px 1px 1px rgb(5, 5, 250);
    font-size: 2.5vh;
}

.audio-challenge-statistic {
   background-blend-mode: screen;
  background: linear-gradient(limegreen, transparent), linear-gradient(90deg, skyblue, transparent), linear-gradient(-90deg, coral, transparent); 
}

.sprint-statistic {
    background-image: url(https://c.pxhere.com/photos/02/f1/westminster_big_ben_london-1069141.jpg!d);
    background-size: auto 308%;
    background-position: 100% 30%;
    background-repeat: no-repeat;
}

.day-statistic-button,
.full-statistic-button {
    height: 10vh;
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: gray;
    border-radius: 25px;
    border:white solid 2px;
    transition: all 0.8s;
}

.statistic-button-active {
    color:white;
text-shadow: 2px 1px 4px #037bf7;
}

.statistics-table-row {
    min-width: 330px;
    max-width:820px;
    width: 90vw;
    margin: 0 auto;    
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    border-bottom: white solid 2px;
}

.full-statistic-row {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.full-statistic-name {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;        
}

.full-statistic-name p {
    width: 100%;
    font-size: 1.2rem;
}

.table-row {
    display: grid;
    grid-template-rows: repeat(3 1fr);
}

.today-statistic-container {
    padding-bottom: 10px;
}

.naming {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3 1fr);
}